@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: aquamarine;
  color: black;
  width: 100vw;
  height: 100vh;
}

#login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1
}